body {
  font-family:'Nunito Sans';
}

.elcn-widget input {
  border:0;
  background-color:#eee;
  padding:15px 15px;
  margin-bottom:20px;
  font-size:16px;
}

.elcn-widget select {
  border:0;
  background-color:#eee;
  margin-bottom:20px;
  font-size:16px;
}

.elcn-content {
  border-radius: 0;
  box-shadow:none;
  margin:0;
}

.container.elcn-widget {
    width: 100%;
}

.col-md-6.field {
  max-width: 98%;
}

label, .label {
  font-size: 14px;
  margin-bottom:5px;
}

legend {
  font-size:14px;
}

#9112ebb6-a2ee-15e4-da3a-6b60b5426587 {
  font-size: 16px;
}
